In [1]:
import pandas as pd
data=pd.read_csv("career_dataset.csv")
data

    Math  Science  Communication  Creativity  Logical          Career
0      9        8              4           5        9        Engineer
1      7        6              5           6        8        Engineer
2      5        3              8           9        5       Marketing
3      4        2              9          10        3       Marketing
4      6        5              6           6        7  Data Scientist
5      3        2              9          10        3              HR
6      2        1             10           9        2              HR
7      8        7              3           4        9  Data Scientist
8      8        9              4           6        8        Engineer
9      6        7              6           7        7        Engineer
10     3        4              8           8        4       Marketing
11     2        1              9           9        2       Marketing
12     9        7              5           5        9        Engineer
13     7        6              5           6        8        Engineer
14     4        2             10          10        3       Marketing
15     3        2              9           8        3       Marketing
16     8        8              3           4        9  Data Scientist
17     5        4              7           6        6  Data Scientist
18     6        5              6           7        7  Data Scientist
19     7        6              5           5        8  Data Scientist
20     2        1             10          10        2              HR
21     3        2              9           9        3              HR
22     4        3              8           8        4              HR
23     7        5              6           6        6              HR
24     8        6              4           5        9        Engineer
25     5        4              7           7        5        Engineer
26     6        5              6           6        6        Engineer
27     4        3              9           9        4       Marketing
28     9        8              3           4        9  Data Scientist
29     7        7              5           5        7       Marketing
30     5        3              8           8        5              HR
31     3        2             10           9        3              HR
32     2        1              9          10        2  Data Scientist
33     6        5              5           6        6        Engineer
34     7        6              4           5        8       Marketing
35     5        4              6           7        6       Marketing
36     4        3              7           8        4              HR
37     3        2             10          10        3              HR
38     8        7              3           4        9  Data Scientist
39     9        8              4           5        9        Engineer

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
X = data.drop('Career', axis=1)
y = data['Career']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
model = DecisionTreeClassifier()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
print("Accuracy:", accuracy_score(y_test, y_pred))

Accuracy: 0.5833333333333334

In [4]:
import pandas as pd
user_input = pd.DataFrame([[9,8,7,9,1]], columns=['Math', 'Science', 'Communication', 'Creativity', 'Logical'])
prediction = model.predict(user_input)
print("Suggested Career Path:", prediction[0])

Suggested Career Path: Marketing